include components/admin-header
    block content

div.dashboard-container
            div.dashboard-container-1
                h1.centered-header  Add new post form
                form(action="/add-post-form" method="post")
                    div.form-group
                        label(for="title") Title:
                        input(type="text" id="title" name="title" required)
                    div.form-group
                        label(for="content") Content:
                        textarea(id="content" name="content" rows="4" required)
                    div.form-group
                        label(for="content") Destinations:
                        each row in results
                            input(type="checkbox" name="destinations[]" value=row.destination_id)
                            | #{row.destination_name} #{row.destination_id}
                    div.form-group
                        label(for="content") Categories:
                        each row in results
                            input(type="checkbox" name="categories[]" value=row.category_id)
                            | #{row.category_name} #{row.category_id}
                    button(type="submit" class="add-new-post-form-button") Submit
            div.dashboard-container-2
                h1.centered-header  View All Posts
                table.view-all-posts-table
                    tr
                        th Post ID #
                        th Title #
                        th Actions
                    each post in postsData
                        tr
                            td #{post.post_id}
                            td #{post.title}
                            td.last-td
                                a(href='/update-post/'+userDetails[1]+'/'+userDetails[0]+'/'+post.post_id).button Update
                                form(action="/delete-post" method="post").dashboard-forms
                                    input(type="hidden" name="post_id" value=post.post_id)
                                    input(type="submit" value="Delete").button
                        
include components/admin-footer